  <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small></small>
                </h1>
                <%= breadcrumb( [ { name:"Home",path:root_path}, {name:"About"} ]) %>
               </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img class="img-responsive" src="http://www.yellowkorner.com/Visuels/Article/578x405/1279.jpg">
            </div>
            <div class="col-md-6">
                <h2>Welcome to the Young Bankers Association</h2>
                <p>“Young Bankers Connect” is a nonprofit organization that reunites a network of executive from various industries in the aim to raise funds to the benefit of humanity and environmental causes.
Our aim is to give a new ethic to the financial sector because like modern economists, we believe that altruism is a necessity in economy. We believe that redistributing capital in a sustainable way creates growth, progress and benefits to all.</br> </p>
          <p>  At YBC we share common values such as spelled out in the charter. So that this association can thrive, we need to make our work a fusion of talent and competences as well as compassion and altruism of our members and their collaboration to form and fund and support specific associations. </br></p>
     
 

            </div>

        </div>

   <!-- Paragraphs -->

        <div class="row">

            <div class="col-md-8">
                <h2 class="page-header">The Necessity of Building a Sustainable Economy</h2>
                <p><strong>Michael Porter – University Professor at Harvard Business School- TED</strong>
Leading authority on the subject of modern competitive strategy for business, he now considers the intersection between society and corporate interests. In his Ted talk, Porter states that it is necessary that companies begin to take the lead in reconceiving the intersection between society and corporate interests. He suggests a solution, that of "shared value," which involves creating economic value in order to also create value for society. 
                    <a href="http://hbr.org/2011/01/the-big-idea-creating-shared-value">Read More</a> </p>
 

<p><strong>Matthieu Ricard – Monk – Davos</strong>
World renowned Buddhist monk Matthieu Ricard, sometimes called “the happiest man on earth” defends values of altruism and compassion. At the World Economic Forum in Davos, he supported that altruism is a necessity in order to run more sustainable corporations.  
</p>

<p>For more reading, please visit our <a href="#">interactive blog</a> where updates on similar subjects are posted.</p>
            </div>

            <div class="col-md-4">
                <h2 class="page-header">Endorse to the Charter</h2>
                <p>Want to join our community? Agree with our values? Are you ready to invest in sustainable projects? </p>
                <a class="btn btn-primary" href="the_charter.html">Click here and join us!</a>
            </div>
<div class="col-md-8">
                <h2 class="page-header">Our Vision</h2>
                <p>Integrity and consideration for each other is fundamental in economics. We have to be concerned by one another so altruism is now more than ever a necessity in order to give each one of us the opportunity to thrive. Unconditional level of cooperation and solidarity should be an essential asset in our industry. 
“Young Bankers Connect” believes that sharing data, resources and expanding network is constructive to the benefit of all instead of encouraging company or individual competition. That way, we work together in a win-win situation, and within a network where everyone is considered and distinguished as a sensible human being. Not only by their professional success. 
 
</p>
            </div>
           
            <div class="col-md-8">
                <h2 class="page-header">Our Mission</h2>
                <p>Give a new ethics to the banking sector and - as world reknown monk Matthieu Ricard states- put compassion in action by redistributing the capital to sustainable causes. We need to bring a gap between rich and poor in order to contribute to growth in a fairer way. Therefore, our association would serve as a positive grant in which one could invest in. 
The YBC mission is to gather each one’s competencies to generate funds in order to support important causes, and to scale to respond to the vast needs across the world. And within that gathering, creating a club, a group that represent the values of our Charter, that agrees that altruism is a <strong>necessity</strong>.
</p>
            </div>
        </div>

        <!-- Team Member Profiles -->

        <div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>

            <div class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/750x450">
                <h3>Philippe Carrel
                    <small>CEO- founder of YBC</small>
                </h3>
                <p>Role: setting strategy and vision. Budget  setting, hires team to steer the association.
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/philippe.carrel?fref=ts" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/profile/view?id=30727438&authType=OUT_OF_NETWORK&authToken=4xK3&locale=en_US&trk=tyah2&trkInfo=tarId%3A1404507403369%2Ctas%3Aphili%2Cidx%3A2-2-3" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/750x450">
                <h3>Yuri Akiyama
                    <small>Secretary</small>
                </h3>
                <p>Administrative support to professionals. Involved with coordination in the association.</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/750x450">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
                <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>

                       <!--  class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/750x450">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
                <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>

        </div>-->

                       <!--  class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/750x450">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
                <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>

        </div>-->

           <!--  class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/750x450">
                <h3>John Smith
                    <small>Job Title</small>
                </h3>
                <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>

        </div>-->

        <!-- Our Customers -->

        <div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Organizations we support</h2>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-customer" src="http://typophile.com/files/Karuna_Shechen_4917.jpg">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-customer" src="http://www.plasticoceans.net/wp-content/uploads/WWF-logo.gif">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-customer" src="http://placehold.it/500x300">
            </div>

        </div>

    </div>
    <!-- /.container -->
