
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Services
                    <small>What We Do</small>
                </h1>
                <%= breadcrumb [ { name:"Home",path:root_path} , { name:"Services" }] %>            </div>

        </div>
        <!-- /.row -->

        <div class="row">

            <div class="col-lg-12">
                <center><img class="img-responsive" src="http://en.yellowkorner.com/visuels/Artist/140.jpg"></center>
            </div>

        </div>
        <!-- /.row -->

        <!-- Service Paragraphs -->

        <div class="row">

            <div class="col-md-8">
                <h2 class="page-header">Our Contribution</h2>
                <p>Young Bankers Connect depends on an active and collective contribution. Joining Young Bankers, you will benefit from a wide network but the idea is also to expand that network by sharing it to your private network. The procedure is the same for the resources. Each member will benefit from them, but we also depend on your contribution to upload them and share your knowledge. Joining Young Bankers is also acquiring a recognition label with variable labels that each member will earn following his or her contribution.  <br /> </p>
                    <p>This page will explain how each one can contribute as well as what this association might bring you.  </p>
            </div>

            <div class="col-md-4">
                <h3 class="page-header">Get a free membership</h3>
                <p>Hurry up! The 500 first membership application are free. Rates will be at 10$ per year starting on the 501st member.</p>
                <%= link_to "Apply", charter_path, class:"btn btn-primary" %>
            </div>

        </div>
        <!-- /.row -->

        <!-- Service Tabs -->

        <div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Procedures to an active contribution</h2>
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#service-one" data-toggle="tab">Step One</a>
                    </li>
                    <li><a href="#service-two" data-toggle="tab">Step Two</a>
                    </li>
                    <li><a href="#service-three" data-toggle="tab">Step Three</a>
                    </li>
                    <li><a href="#service-four" data-toggle="tab">Plus</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">
                        <i class="fa fa-gear pull-left fa-4x"></i>
                        <h4>Reading and Endorsing to <a href="the_charter.html">the Charter</a></h4>
                        <p>	"Joining together to bring forth a global financial system founded 

							on professional integrity, transparency, risk intelligence, the 

							respect of all stakeholders and accountable for the well being of 

							communities, Young Bankers declare their responsibility to one 

							another by committing to the Young Bankers Charter."</p>
                        <p>Once your application is accepted, endorsing to the charter will bring you recognition. It will represent a label of conduct that shall be an asset in your professional resume and that will be recognized by hiring companies. In addition, membership in our association allows you to connect with the network of “young bankers” in which knowledge, data and information will be shared and where you could combine different areas of expertise in order to participate or to lead projects together. Following your contribution within our association, each members will be distinguished with different “belts”, following the same levels you can find in martial arts (10th Kyu to 1st Dan and so on).   </p>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <i class="fa fa-gears pull-left fa-4x"></i>
                        <h4>Starting as an active member</h4>
                        <p>The idea is to create a virtuous circle. A bigger community means more knowledge shared, more expertise, more projects, solid teams, motivated people and the circle goes on. Therefore, once you will have joined the association, you will benefit from our network. Nevertheless, we also highly recommend you to <strong>share </strong> our <a href=“#”>website</a> to your professional network in order to widen our community.  </p>

<p>In order to distinguish members and to motivate each one to be an active member, ranks will be given to each as explained in the first step. However, in case of inappropriate or overly inactive use of our association, you might get downgraded or your membership might get compromised. On the other hand, each member will be rewarded if an active contribution is proved. </p>

                    </div>
                    <div class="tab-pane fade" id="service-three">
                        <i class="fa fa-magic pull-left fa-4x"></i>
                        <h4>Get involved in projects</h4>
                        <p>A project will be proposed either by the board or a member himself and will have to be for sustainable financing. The projects will each have a due date with a certain minimal amount as well as a limited number of members applyable until a certain date. Every member is free to join as there are no discrimination on YBC ranking. <br/>
                        Your only mission will be to gather funds in order to invest in sustainable causes.  </p>
                        <p>Young Bankers Connect will act as an intermediary between members and nonprofit organizations. YBC also commits to a 100% transparency principle. This signifies that as soon as we manage to gather funds to donate to the nonprofit, we keep you in touch with the progress they could  make thanks to our contribution. Significant participants will also be denounced to the YBC club as well as to the nonprofit he or she helped. <br/> 
                        In order to keep track of the performance of each, the leader of each projects will be asked to fill out a specifical form on the roles of each members that contributed constructively or not to the project and the grades will be attributed. </p>
                    </div>
                    <div class="tab-pane fade" id="service-four">
                        <i class="fa fa-flask pull-left fa-4x"></i>
                        <h4>Being a Young Banker is also about having fun</h4>
                        <p>Of course, being part of the Young Bankers Connect association is more than just being a member. It is also being part of a club, a community. Therefore, anyone will be free to organize any kind of events in their own city to gather with one another and really get to connect in a proper way. </p>
                        <p>From brainstorming on a hike in the Swiss mountains, from walking in the asian jungles or from a rooftop in New York, anyplace is great to meet and to spend constructive quality time. </p>
                    </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <!-- Service Images -->

        <div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Service Images</h2>
            </div>

            <div class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/750x450">
                <h3>Service One</h3>
                <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
            </div>

            <div class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/750x450">
                <h3>Service Two</h3>
                <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
            </div>

            <div class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/750x450">
                <h3>Service Three</h3>
                <p>Service three description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
                <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

