<%= render 'header' %>

    <div class="box">

        <div class="box-header">

            <i class="fa fa-comments"></i>
            <h3 class="box-title"> <%= @conversation.subject %> </h3>

        </div>

    </div>



<%= render 'footer' %>
