<% provide(:title,"Portfolio : Ecology") %>

<div class="container">
    <!-- BREADCRUMB -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header title">Ecology
                <small>Get involved in a project</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to("Home",home_path) %> </li>
                <li> <a href="#"> Portfolio </a> </li>
                <li class="active">Ecology</li>
            </ol>
        </div>
    </div>


    <div class="col-md-7">
        <a href="portfolio-item.html">
            <img class="img-responsive" src="http://www.edp.pt/pt/sustentabilidade/abordagemasustentabilidade/participacoes/PublishingImages/ceres.gif">
        </a>
    </div>

    <div class="col-md-5">
        <h3><a href="http://www.ceres.org/">CERES    </a> </h3>
        <h4>Fund consolidating</h4>
        <p> Ceres is an advocate for sustainability leadership. Ceres mobilizes a powerful network of investors, companies and public interest groups to accelerate and expand the adoption of sustainable business practices and solutions to build a healthy global economy.</p><p>Our mission is to mobilize investor and business leadership to build a thriving, sustainable global economy. </p>

    <!-- TODO -->
        <a class="btn btn-primary" href="portfolio-item.html">View Project <i class="fa fa-angle-right"></i></a>
    </div>

</div>



