
/*@import "bootstrap";*/
.logo_image {
    left:5px; 
    margin-top:-10px;
}
/* required due to the bootstrap nav bar */
body { padding-top: 60px; }
.navbar_login {
    padding: 5px 10px 0px 10px;
}


.text_center {
    text-align:center;
}

