// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// user sign up error messages
#user_error {
  color: #f00;
  ul {
    margin: 0 0 18px 0;
  }
}
.field_with_errors {
    @extend .error;
    @extend .control-group;
}

// sign up section colored
.section-colored {
    background-color: #e1e1e1;
}

/*
 * So it has the blue halo for bootstrap
 * */
.input_form {
    @extend .form-control;
    @extend .input-md;
}
