<div class="container">

    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <center><p>Young Bankers Connect (R) 2011 • All Rights Reserved • Terms Of Use</p></center>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->


