<div class="footer-message" style="margin-bottom:-10px;width: 100%; background: #202020; text-align: center; color: #e0e0e0; padding-top: 15px;height:74px!important;font-size: 10px;"> <a  href="about.html"> <font color="#e0e0e0">About </font></a>| <a href="contact.php"><font color="#e0e0e0">Contact </font></a>| <a href="#"><font color="#e0e0e0">Legal terms and conditions </font></a>|<a href="#"><font color="#e0e0e0"> Professional opportunities </font></a>|<br>Young Bankers Connect (R) 2011 • All Rights Reserved • Terms Of Use </div>
<!-- /.container -->

